@charset "ISO-8859-1";

.btn-primary {
	background-color: blue;
}

.nonleague-game {
	color: red !important;
}

.league-game {	
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid blue;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.jsports-table-wrapper {
	overflow-x: auto;
	width: 100%;
	white-space: nowrap;
	
}

.sponsor-logo-wrapper {
	text-align: center;
}
.sponsor-logo {
	height: 250px;
	width: 250px;
}
