@charset "ISO-8859-1";

@import url("jsports.css");

.agreement-container {
	background-color:  lightgray;
	border: solid;
}

.standings-table {
	width: 100% !important;
	font-size: 14px !important;
}

.standings-table-division-header {
	font-size: 24px;
	font-weight: bold;
}

.standings-table-division-subheader-row {
	font-weight: bold;
}

.standings-row-even {
	background-color: #d3d3d3 !important;	
}
.standings-row-odd {
	background-color: #FFFFFF !important;	
} 

.standings-division-title {
	padding-top: 20px;
}

#standings-container {
	padding-bottom: 35px;
}

.btn-sm, .btn-group-sm > .btn {
  padding: .15rem !important;
  font-size: .75rem !important;
}